.custom-file-input {
  cursor: pointer;
}
#custom_file .custom-file-label::after {
  content: "Выбрать";
  color: white;
  background-color: #17a2b8;
  border-bottom-width: initial;
  height: 40px;
}

/* #custom_file .custom-file-label.selected::after {
  content: "Выбрать другой";
} */

#custom_file .custom-file-label::before {
  content: "Файлы не выбраны";
  cursor: none;
}

/*when a value is selected, this class removes the content */
.custom-file-label.selected::before {
  content: "Файлы выбраны" !important;
  cursor: none;
}

.custom-file {
  overflow: hidden !important;
}
.custom-file-label {
  white-space: nowrap !important;
}
#color_picker_btn {
  border-radius: 0;
}

.dropdown-toggle::after {
  display: none;
}

#upload_images {
  border-left-width: 0;
  margin-left: 0;
}

button#clear_list {
  width: calc(100% - 42px);
}

.scrollspy {
  position: relative;
  height: calc(100vh - 71px - 16px - 38px - 8px);
  overflow: auto;
  border-color: #17a2b8;
  border-radius: calc(.25rem - 1px);
}

@media (max-width: 991px){
  .scrollspy {
    height: calc(100vh - 71px - 16px - 38px - 8px - 62px);
  }
}

.scroll-img {
  width: 100%;
  /* height: 100%; */
  border-radius: calc(.25rem - 1px);
}

a.list-group-item.active { 
  background-color: #17a2b8 !important; 
  border-color: #17a2b8;
}

a.list-group-item:hover { 
  background-color: #edf8fa; 
}

/* th {
  text-align: center !important;
  vertical-align: middle !important;
} */

tbody tr:hover{
  background-color: #24bdd5;
}

.plc-1 {
  padding-left: .30rem!important;
}