.custom-file-input {
  cursor: pointer;
}
#custom_file .custom-file-label::after {
  content: "Выбрать";
  color: white;
  background-color: #17a2b8;
  border-bottom-width: initial;
  height: 40px;
}

/* #custom_file .custom-file-label.selected::after {
  content: "Выбрать другой";
} */

#custom_file .custom-file-label::before {
  content: "Файлы не выбраны";
  cursor: none;
}

/*when a value is selected, this class removes the content */
.custom-file-label.selected::before {
  content: "Файлы выбраны" !important;
  cursor: none;
}

.custom-file {
  overflow: hidden !important;
}
.custom-file-label {
  white-space: nowrap !important;
}
#color_picker_btn {
  border-radius: 0;
}

.dropdown-toggle::after {
  display: none;
}

#upload_images {
  border-left-width: 0;
  margin-left: 0;
}

button#clear_list {
  width: calc(100% - 42px);
}

.scrollspy {
  position: relative;
  height: calc(100vh - 71px - 16px - 38px - 8px);
  overflow: auto;
  border-color: #17a2b8;
  border-radius: calc(.25rem - 1px);
}

@media (max-width: 991px){
  .scrollspy {
    height: calc(100vh - 71px - 16px - 38px - 8px - 62px);
  }
}

.scroll-img {
  width: 100%;
  /* height: 100%; */
  border-radius: calc(.25rem - 1px);
}

a.list-group-item.active { 
  background-color: #17a2b8 !important; 
  border-color: #17a2b8;
}

a.list-group-item:hover { 
  background-color: #edf8fa; 
}

/* th {
  text-align: center !important;
  vertical-align: middle !important;
} */

tbody tr:hover{
  background-color: #24bdd5;
}

.plc-1 {
  padding-left: .30rem!important;
}

#error {
  margin: 0 auto;
  display: block;
}

.error-text {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
  padding: 10px 10px;
}

.error {
  background: #f8f8f8;
  box-shadow: inset 1px 0 #b3b3b3, inset 0 1px #b3b3b3, inset -1px 0 #b3b3b3, inset 0 -1px #b3b3b3;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
  color: #212529;
  text-decoration: none;
}

.error:hover {
  background: #e9e9e9;
  color: #212529;
  text-decoration: none;
}

.oups-animation {
  display: flex;
}