hr {
  border-top: 3px solid rgba(48, 141, 232, 0.6);
}

.bg-nav {
  background: linear-gradient(0deg, #36AFEC 0%, #2D7CE7 100%);
  background-size: 320% 220%;
}

.bg-blue-grad {
  background: radial-gradient(ellipse at center, #2D7CE7 0%, #36AFEC 100%);
  background-size: 180% 200%;
}

/* ########################
        Analyzer Page
##########################*/
/* File input */
.custom-file-input {
  cursor: pointer;
}

.custom-file-label {
  overflow: hidden !important;
  white-space: nowrap !important;
  cursor: pointer;
  border-color: #34a4eb;
}

/* 'Choose' button */
.custom-file-label::after {
  cursor: pointer;
  content: "Выбрать";
  color: white;
  background: #0a80ff;
  border-bottom-width: initial;
  height: 40px;
}

.custom-file-label::before {
  content: "Файлы не выбраны";
  cursor: none;
}

/* When files are selected */
.custom-file-label.selected::before {
  content: "Файлы выбраны" !important;
  cursor: none;
}

#color_picker_btn {
  border-radius: 0;
}

/* No arrow */
.dropdown-toggle::after {
  display: none;
}

#upload_images {
  border-left-width: 0;
  margin-left: 0;
}

/* Side Bar  */
#image_list {
  overflow: auto;
  max-height: calc(100vh - 71px - 16px - 38px - 8px - 62px);
}

a.list-group-item.active { 
  background: #3296ea;
  border-color: #3297ea;
}

a.list-group-item.active:hover { 
  background: #3296ea;
  border-color: #3297ea;
}
a.list-group-item:hover { 
  background-color: #3297ea1c;
  border: 1px solid rgba(0,0,0,.125);
}

#clear_list {
  width: 100%;
}

/* Scrollspy  */
.scrollspy {
  position: relative;
  overflow: auto;
  height: calc(100vh - 71px - 16px - 38px - 8px);
  border-radius: calc(.25rem - 1px);
}

@media (max-width: 991px){
  .scrollspy {
    height: calc(100vh - 71px - 16px - 38px - 8px - 62px);
  }
}

.image-card {
  padding: 1rem;
  border-radius: 15px;
  margin-bottom: 1rem;
  box-shadow: 2px 5px 9px 2px rgba(0,0,0,0.4);
}

@media (max-width: 767px){
  #result span.float-right {
    float: left !important;
  }
}

.table {
  margin-top: 1rem;
  margin-bottom: 0;
}

.scroll-img {
  width: 100%;
  border-radius: calc(.5rem - 1px);
}

.table td, .table th {
  border-top: none !important;
  padding-left: .5rem;
}

.table tfoot th {
  vertical-align: bottom;
  border-top: 2px solid #dee2e6 !important;
}

tbody tr:hover{
  background-color: rgba(220, 220, 220, 0.30);
}

/* ########################
         Upload page
##########################*/
.drag-n-drop-area {
  height: 300px;
}

.blue-round-bg {
  background: #e0ebf7;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  padding: 0.7rem;
}

.dd-inside{
  border: 2px dashed #6eb4ff;
  border-radius: 12px;
  height: 100%;
  width: 100%;
  padding-top: 3rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  text-align: center;
  cursor: default;
}

.dd-icon-container {
  /* overflow: -webkit-paged-x; */
}

.dd-icon {
  fill: #4098f7;
  height: 100px;
}

.dd-text {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #0a4e92
}

.dd-text > u {
  cursor: pointer;
}

.preview-container {
  background-color: #fbfbfb;
  border: 2px solid #ebebeb;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 2rem;
}

.item-container {
  padding: 0.5rem;
  position: relative;
  width: 214px;
  height: 230px;
  /* transition-property: color, background; */
  transition-duration: 0.2s;
}

@media (max-width: 1199px){
  .item-container {
    margin: 0 4px;
  }
}

@media (max-width: 991px){
  .item-container {
    margin: 0 2px;
  }
}

@media (max-width: 767px){
  .item-container {
    margin: 0 11px;
  }
}

@media (max-width: 575px){
  .item-container {
    margin: auto;
  }
}

.item-container:hover {
  background-color: #ebebeb;
}

.image-name {
  padding: 0 15px 0 15px;
  margin: 2px 0 8px 0;
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  color: #666666;
  letter-spacing: 0.01em;
}

.close-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 27px;
}

.item-container.hovered .close-btn {
  display: block;
}

.close-btn:hover {
  background-color: #cfcfcf;
}

.page-control {
  display: inline-block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  padding: 0 5px;
  cursor: pointer;
  transition-property: color, background;
  transition-duration: 0.2s;
}

.smpdf_3eHO47el2SyBBY {
  display: inline-block;
  height: 24px;
}

.page-control .page-control-icon svg {
  width: 14px;
}

.image {
  text-align: center;
  padding: 0 12px;
}

/* .image > img { */
img {
  max-width: 173px;
  max-height: 155px;
}

/* ########################
         Error page
##########################*/
#error {
  margin: 0 auto;
  display: block;
}

.error-text {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
  padding: 10px 10px;
}

.error {
  background: #f8f8f8;
  box-shadow: inset 1px 0 #b3b3b3, inset 0 1px #b3b3b3, inset -1px 0 #b3b3b3, inset 0 -1px #b3b3b3;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
  color: #212529;
  text-decoration: none;
}

p.error-text {
  padding-bottom: 5px;
}

.error:hover {
  background: #e9e9e9;
  color: #212529;
  text-decoration: none;
}

.oups-animation {
  display: flex;
}