<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load l10n %}
    {% load static %}
    {% load staticfiles %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% block styles %}
    {% endblock styles %}

    {% block title %}
    {% endblock title %}

</head>


<body>

    <header>
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <div class="container">
                <a class="navbar-brand" href="{% url 'analyzer:home' %}">
                    <img src={% static 'images/emblem.png' %} width="45" height="45" alt=""><span
                        style="vertical-align: bottom">lood of Vlad</span>
                </a>
                <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar9">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbar9">
                    <ul class="navbar-nav ml-auto plc-1">
                        <li class="nav-item">
                            <a class="nav-link {% block analyzer-active %}{% endblock analyzer-active %}"
                                href="{% url 'analyzer:analyzer' %}"><i class="fas fa-brain"></i> Анализатор</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block upload-active %}{% endblock upload-active %}" href="
                                {% url 'analyzer:upload' %}"><i class="fas fa-upload"></i> Загрузить</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block data-active %}{% endblock data-active %}" href="
                                {% url 'analyzer:data' %}"><i class="fas fa-database"></i> База данных</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block about-active %}{% endblock about-active %}" href="
                                {% url 'analyzer:about' %}"><i class="fas fa-info-circle"></i> О проекте</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block login-active %}{% endblock login-active %}"
                                href=" /admin/login">
                                Вход <i class="fas fa-sign-in-alt"></i></a> {% comment %}
                            <!-- <a class="nav-link"
                                href="{% url custom_auth:login %}">Вход / Регистрация</a> --> {% endcomment %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Container for content -->
    <div class="container mt-3">
        {% block content %}
        {% endblock content %}
    </div>


    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock scripts %}

</body>

</html>