{% extends 'base.html' %}

{% load static %}
{% block title %}
<title>Анализатор</title>
{% endblock title %}

{% block content %}
<div class="row justify-content-around">
    <div class="file-input col-lg-5 p-0 m-2">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="input-group lg-3">
                <div class="custom-file" id="custom_file">
                    <input type="file" class="custom-file-input" name="file" accept="image/*" required="" id="id_file"
                        onchange="readURL(this);" multiple>
                    <span class="border-info custom-file-label form-control-file" for="id_file"></span>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-info" type="submit" id="">Запустить</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card text-white bg-info col-lg-6 m-2 p-0">
        {% if image_src %}
        <img class="card-img-top" src="data:image/png;base64,{{ image_src }}">
        {% else %}
        <!-- <img class="card-img-top" id="preview" src="{% static 'images/preview.jpg' %}" /> -->
        <div id="image-holder"></div>
        {% endif %}

        <div class="card-body">
            {% if file_name %}
            <table class="table table-sm bg-info text-white">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Тип</th>
                        <th scope="col" style="text-align:center">Вероятность, %</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Нейтрофил</td>
                        <td style="text-align:center">87</td>
                        <td style="text-align:right">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Ошибка
                            </button>
                            <div class="dropdown-menu p-2">
                                <div class="form-group">
                                    <!-- TODO: сделать форму для ошибки -->
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="card-text"><small class="text">{{ file_name }}</small></p>
            {% else %}

            {% endif %}
        </div>
    </div>
    <div class="card text-white bg-info col-lg-6 m-2 p-0" hidden>
        {% if image_src %}
        <img class="card-img-top" src="data:image/png;base64,{{ image_src }}">
        {% else %}
        <img class="card-img-top" id="preview" src="{% static 'images/preview.jpg' %}" />
        {% endif %}

        <div class="card-body">
            {% if file_name %}
            <table class="table table-sm bg-info text-white">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Тип</th>
                        <th scope="col" style="text-align:center">Вероятность, %</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Нейтрофил</td>
                        <td style="text-align:center">87</td>
                        <td style="text-align:right">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Ошибка
                            </button>
                            <div class="dropdown-menu p-2">
                                <div class="form-group">
                                    <!-- TODO: сделать форму для ошибки -->
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="card-text"><small class="text">{{ file_name }}</small></p>
            {% else %}

            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}


{% block scripts %}
<script type="text/javascript" src="{% static 'js/custom-input.js' %}"></script>
<script type="text/javascript" src="{% static 'js/preview.js' %}"></script>
{% endblock scripts %}