{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Анализатор</title>
{% endblock title %}

{% block analyzer-active %}active{% endblock analyzer-active %}

{% block content %}

{% if not images %}

<!-- Files input -->
<div class="row justify-content-around">
    <div class="file-input col m-2 mt-4 mb-4 p-0">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="input-group lg-3">
                <div class="custom-file" id="custom_file">
                    <input type="file" class="custom-file-input" name="file" accept="image/*" required="" id="id_file"
                        multiple>
                    <span class="border-info custom-file-label form-control-file" for="id_file"></span>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-info" type="submit">Загрузить</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endif %}

<!-- Files preview -->
<div id="preview_block" class="row justify-content-between {% if not images %}d-none{% endif %}">

    {% if not images %}

    <div class="col-md-4 p-2">
        <div id="image_list" class="list-groups mb-4 d-none d-md-block">
        </div>
        <button id="clear_list" class="btn btn-outline-danger col mb-4" type="button">Очистить</button>
    </div>

    {% endif %}

    <div id="image_holder" class="scrollspy col-md-8 mt-0 pl-2 pr-2" data-spy="scroll" data-target="#image_list"
        data-offset="1">

        {% for image in images %}

        <img src="{{ image }}" style="width: 100%">

        {% endfor %}

    </div>
</div>

{% endblock content %}

{% block scripts %}

<script type="text/javascript" src="{% static 'js/preview.js' %}"></script>

{% endblock scripts %}