{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/jquery.range.css' %}">
{% endblock styles %}

{% block title %}
<title>Анализатор</title>
{% endblock title %}

{% block analyzer-active %}active{% endblock analyzer-active %}

{% block content %}

<!-- Files input -->
<div class="row justify-content-around">
    <div class="file-input col mx-2 p-0">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="input-group lg-3">
                <div id="custom_file" class="custom-file">
                    {{ form.file }}
                    <span class="custom-file-label form-control-file" for="{{ form.file.auto_id }}"></span>
                </div>
                <div class="input-group-append">
                    <button id="color_picker_btn" type="button" class="btn btn-danger dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled><i
                            class="fas fa-eye-dropper"></i></button>
                    <div class="dropdown-menu dropdown-menu-right px-4 pt-5">
                        <div class="form-group">
                            {{ form.range_picker }}
                            {{ form.color_picker_h }}
                            {{ form.color_picker_s }}
                            {{ form.color_picker_v }}
                        </div>
                    </div>
                    <button id="upload_images" class="btn btn-outline-primary" type="submit" disabled><i
                            class="fas fa-circle"></i> Запустить</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Files preview/output -->
<div id="preview_block" class="row justify-content-between mt-2 {% if not images %}d-none{% endif %}">

    <!-- Side bar -->
    <div class="col-lg-3 px-2">
        <div id="image_list" class="list-groups d-none d-lg-block">
            {% if result %}
            <a class="list-group-item list-group-item-action active" href="#result">
                <i class="fas fa-poll-h"></i> Результаты</a>
            {% endif %}
            {% for image in images %}
            <a class="list-group-item list-group-item-action" href="#image-{{ image.id }}"><i class="far fa-image"></i>
                {{ image.name }}</a>
            {% endfor %}
        </div>
        <button id="clear_list" class="btn btn-outline-danger mt-2 mb-3 px-0" type="button"><i
                class="fas fa-eraser"></i>
            Очистить</button>
    </div>

    <!-- Scrollspy -->
    <div id="image_holder" class="scrollspy col-lg-9 mt-0 pl-2 pr-2" data-spy="scroll" data-target="#image_list"
        data-offset="100">

        <!-- Common results -->
        {% if result %}
        <div id="result" class="image-card bg-blue-grad">
            <h4 class="text-white">Результаты: </h4>
            <table class="table table-sm text-white">
                <thead>
                    <tr class="row m-0">
                        <th class="d-inline-block col-3">Тип</th>
                        <th class="d-inline-block col-5">Количество, шт</th>
                        <th class="d-inline-block col-4">Процент, %</th>
                    </tr>
                </thead>
                <tbody>
                    {% for type in result.types %}
                    <tr lass="row m-0">
                        <td class="d-inline-block col-3">{{ type.name }}</td>
                        <td class="d-inline-block col-5">{{ type.count }}</td>
                        <td class="d-inline-block col-4">{{ type.percent }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="row m-0">
                        <th class="d-inline-block col-3"><span class="float-right mr-2">Всего:</span></th>
                        <th class="d-inline-block col-5">{{ result.total }}</th>
                        <th class="d-inline-block col-4"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <hr>
        {% endif %}

        <!-- Images -->
        {% for image in images %}
        <div id="image-{{ image.id }}" class="image-card bg-blue-grad">
            <h4 class="text-white pb-1">{{ image.name }}</h4>
            <img class="scroll-img" src="{{ image.draw_image }}">
            <!-- Result of each image -->
            <table class="table table-sm text-white">
                <thead>
                    <tr class="row m-0">
                        <th class="d-inline-block col-2">#</th>
                        <th class="d-inline-block col-4 col-sm-5">Тип</th>
                        <th class="d-inline-block col-6 col-sm-5">Вероятность, %</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prediction in image.predictions %}
                    <tr lass="row m-0">
                        <th class="d-inline-block col-2"> {{ prediction.count }}</th>
                        <td class="d-inline-block col-4 col-sm-5">{{ prediction.result }}</td>
                        <td class="d-inline-block col-6 col-sm-5">{{ prediction.percentage}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock content %}

{% block scripts %}

<script type="text/javascript" src="{% static 'analyzer/js/preview.js' %}"></script>
<script type="text/javascript" src="{% static 'analyzer/js/jquery.range.js' %}"></script>

{% endblock scripts %}